.small-fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(245, 244, 244);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 14px grey;
    padding-top: 200px;
}
fieldset {
    border: none;
}

legend {
    text-align: left;
    font-size: 12px;
}

#number {
    font-size: 12px;

}

.input-container{
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.subtext {
    font-size: 12px;
    justify-content: center;
    width: 50%;
    color: navy;

}

.input {
    width: 60%;
    text-align: center;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    border: 1px lightgrey solid;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}

.row-container {
    display: block;
    margin: auto;
    width: 75%;
}

.card-container {
    background-color: lightslategray;
    width: 200px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 10;
    margin-top: 100px;
    margin-bottom: -100px;
}