@import "https://cdn.jsdelivr.net/gh/tretapey/raisincss@1.0.2/raisin.min.css";


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.navbar:hover {
}

.nav-item {
    color: black;
    margin-left: 100px;
}

.nav-item:hover {
    color: blue;
    cursor: pointer;
}
/* .container-object {
    background-color: red;
    transition: transform 1s;
}

.container-object:hover {
    transform: translate(20px, 20px);
    transform: width 2s;
} */

#button {
    padding: 15px;
    justify-content: center; 

}

/* #button:focus {
    background-color: yellow;
} */

#button:hover {
    background-color: blue;
}

.item-button {
    display:none;
}

.item-button:hover {
    display: block;
}

.button-container {
    margin: 100px;
    text-align: center;
}