@import "https://cdn.jsdelivr.net/gh/tretapey/raisincss@1.0.2/raisin.min.css";


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.navbar:hover {
}

.nav-item {
    color: black;
    margin-left: 100px;
}

.nav-item:hover {
    color: blue;
    cursor: pointer;
}
/* .container-object {
    background-color: red;
    transition: transform 1s;
}

.container-object:hover {
    transform: translate(20px, 20px);
    transform: width 2s;
} */

#button {
    padding: 15px;
    justify-content: center; 

}

/* #button:focus {
    background-color: yellow;
} */

#button:hover {
    background-color: blue;
}

.dropdown-container {
    display: none;
    background-color: lightblue;
}

#button:hover .dropdown-container {
    display: block;
    background-color: black;
}

.dropdown-button {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-button:hover {
    display: block;
}

.button-container {
    margin: 100px;
    text-align: center;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    display: flex;
    flex-direction: row;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown-con:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropbtn:hover{background-color: #3e8e41;}



  